AddDefaultCharset UTF-8

#<FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
#    Header set Cache-Control "max-age=2592000"
#</FilesMatch>
#
#<IfModule mod_expires.c>
#    ExpiresActive On
#    ExpiresDefault "access plus 6 month"
#</IfModule>

<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On
    RewriteBase /

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule . /index.php [L]
</IfModule>
